.body-about {
  overflow: visible;
}

.main-head-contact {
  ul {
    li {
      a {
        color: black;
      }
    }
  }
}

.active-contact {
  border: 3px solid $bgcolor;
}

.about {
  min-height: 80vh;
}

.about-text {
  width: 88%;
  margin: auto;

  h2 {
    font-size: 8.9rem;
  }
}

.pill {
  background: $bgcolor;
  width: 15rem;
  height: 1.4rem;
  border-radius: 250px;
}
