@media screen and (max-width: 745px) {
  body {
    overflow: visible;
  }

  .main-head {
    min-height: 1vh;
    background: $bgcolor;
    margin-bottom: 1rem;
  }

  nav {
    width: 100%;

    .logo {
      @include flex(center, center, column);
      flex: 1 1 40rem;
      margin-top: 1rem;
      color: white;
    }

    ul {
      flex: 1 1 60rem;
      margin: 2rem 0rem;

      li {
        a {
          font-size: 1.7rem;
          color: white;
        }
      }
    }
  }

  .intro {
    width: 100%;
  }

  .intro-text {
    text-align: center;
    margin-bottom: 4rem;
    padding: 0 1rem;
    padding-top: 2rem;

    h2 {
      font-size: 3rem;
    }

    h3 {
      font-size: 2rem;
    }

    button {
      font-size: 1.7rem;
      padding: 1rem 2rem;
    }
  }

  .intro-images {
    background: linear-gradient(
      left,
      rgba(255, 0, 0, 0.7),
      rgba(255, 111, 0, 0.87)
    );
    padding-top: 2rem;

    .splash {
      display: none;
    }

    .intro-images {
      text-align: center;

      svg {
        height: 20%;
      }
    }
  }

  .active {
    padding: 1rem;
    border: 3px solid white;
  }

  footer {
    h4 {
      font-size: 1.7rem;
    }
  }

  .main-head-contact {
    ul {
      li {
        a {
          color: white;
        }
      }
    }
  }

  /*ABOUT SECTION*/

  .about {
    padding-top: 2rem;
    h2 {
      font-size: 5rem;
    }
  }

  .pill {
    width: 10rem;
    height: 1rem;
  }

  .circle {
    height: 30rem;
    width: 30rem;
  }

  .about-text {
    text-align: center;
  }

  .about-image {
    padding-bottom: 4rem;
  }

  /*PROJECTS SECTION*/
  .project-info {
    padding-top: 2rem;
    h2 {
      font-size: 5rem;
    }
  }

  .pill {
    width: 10rem;
    height: 1rem;
  }

  .card,
  .card-image {
    width: 30rem;
  }

  .card-text {
    h2 {
      font-size: 1rem;
    }
  }

  .card {
    height: 60rem;
  }

  .project-cards {
    justify-content: center;
  }
}
