/*VARIABLES*/
/*MIXINS*/
/*IMPORTS*/
/*GLOBAL STYLES*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

h1 {
  font-size: 4rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4,
h5 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

.main-head {
  padding: 2rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 10vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

nav .logo {
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 40rem;
          flex: 2 1 40rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

nav ul li a {
  color: white;
}

.intro {
  min-height: 80vh;
  width: 90%;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.intro h2 {
  font-size: 6rem;
  margin-bottom: 3rem;
}

.intro h3 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.intro h3 span {
  color: #ff4721;
  font-weight: normal;
  font-size: 4rem;
}

.intro button {
  padding: 2rem 6rem;
  background: #ff4721;
  border: none;
  border-radius: 4.5rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.intro button a {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

.intro button:hover {
  background: #ca2200;
  cursor: pointer;
}

.intro-images {
  width: auto;
  height: auto;
}

.intro-images svg {
  width: 100%;
  height: auto;
}

.intro-images .splash {
  position: absolute;
  top: -20%;
  right: -10%;
  z-index: -1;
}

.intro-text,
.intro-images {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.active {
  color: white;
  border: 3px solid white;
  padding: 1rem 3rem;
  border-radius: 2rem;
}

.active a {
  font-weight: bold;
}

.body-about {
  overflow: visible;
}

.main-head-contact ul li a {
  color: black;
}

.active-contact {
  border: 3px solid #ff4721;
}

.about {
  min-height: 80vh;
  width: 88%;
  margin: auto;
}

.about h2 {
  font-size: 8.9rem;
}

.about-info {
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about-text h3 {
  font-size: 3rem;
  font-weight: normal;
}

.about-text h3 span {
  color: #ff4721;
}

.about-text p {
  font-size: 3rem;
}

.pill {
  background: #ff4721;
  width: 15rem;
  height: 1.4rem;
  border-radius: 250px;
}

.circle {
  background: url("../img/IMG_9549.jpg");
  background-size: cover;
  height: 40rem;
  width: 40rem;
  border: 7px solid white;
  border-radius: 25rem;
  -webkit-box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.42);
          box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.42);
}

footer {
  background: #ff4721;
  color: white;
  min-height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  left: 0;
  bottom: 0;
}

footer h4 {
  font-weight: normal;
}

@media screen and (max-width: 745px) {
  body {
    overflow: visible;
  }
  .main-head {
    min-height: 1vh;
    background: #ff4721;
    margin-bottom: 1rem;
  }
  nav {
    width: 100%;
  }
  nav .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
    margin-top: 1rem;
    color: white;
  }
  nav ul {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60rem;
            flex: 1 1 60rem;
    margin: 2rem 0rem;
  }
  nav ul li a {
    font-size: 1.7rem;
    color: white;
  }
  .intro {
    width: 100%;
  }
  .intro-text {
    text-align: center;
    margin-bottom: 4rem;
    padding: 0 1rem;
  }
  .intro-text h2 {
    font-size: 3rem;
  }
  .intro-text h3 {
    font-size: 2rem;
  }
  .intro-text button {
    font-size: 1.7rem;
    padding: 1rem 2rem;
  }
  .intro-images {
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0.7)), to(rgba(255, 111, 0, 0.87)));
    background: linear-gradient(left, rgba(255, 0, 0, 0.7), rgba(255, 111, 0, 0.87));
    padding-top: 2rem;
  }
  .intro-images .splash {
    display: none;
  }
  .intro-images .intro-images {
    text-align: center;
  }
  .intro-images .intro-images svg {
    height: 20%;
  }
  .active {
    padding: 1rem;
    border: 3px solid white;
  }
  footer h4 {
    font-size: 1.7rem;
  }
  .main-head-contact ul li a {
    color: white;
  }
  /*ABOUT SECTION*/
  .about {
    padding-top: 2rem;
  }
  .about h2 {
    font-size: 5rem;
  }
  .pill {
    width: 10rem;
    height: 1rem;
  }
  .circle {
    height: 30rem;
    width: 30rem;
  }
  .about-text {
    text-align: center;
  }
  .about-image {
    padding-bottom: 4rem;
  }
}
/*# sourceMappingURL=style.css.map */